.results-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
   
}

.activity-message {
    font-size: 1.8rem;
    text-align: center;
    padding:1rem;
}

.container-post {
    padding: 1rem;
    
}

.post-title {
    padding: 0.5rem;
}