.cancel-modif {
    display: block;

}

.random{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	align-content: center;
}

.ui.color1.button {
    background-color: #00b5ad;
    color: #fff;
  }
